* {
  margin: 0px;
}

body {
  background-color: #1b1c20;
}
#hashiv{
  margin-left: 10%;
  color: #fdfdfd;
}
.box {

  height: 80px;

  width: 80px;
  border: 6px solid #101118;
  font-size: 2em;

}

.strinOfBox {
  display: flex;
  background-color: #fdfdfd;
}

#gameBox {
  position: absolute;
  bottom: 0px;
}

#game2048 {
  top: 70%;
  position: absolute;
  left: 35%;
}

#text:hover {
  top: 25%;
  left: 18%;
  font-size: 260%;
}
